<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="OrangeHRM Suite" verbose="1">
    <listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>
    <test name="OrangeHRM Tests">
        <classes>
            <!-- 1st Priority Login Test Cases -->
            <class name="tests.LoginTest"/>

            <!-- 2nd Priority Logout Test Cases -->
            <class name="tests.LogoutTest"/>

            <!-- 3rd  Priority CreateUser Test Cases -->
            <class name="tests.CreateUserTest"/>
        </classes>
    </test>
</suite>

